img.logo {
    height : 30px;
    width : auto;
}

.jumbotron.login {
    background-image:url("/assets/img/login.png");
    background-size:cover;
    height:420px;
}

nav.navbar-fixed-bottom form {
    margin-bottom:0px;
}

.content.margin-top10 {
    margin-top:10px;
}

.container.margin-bottom100 {
    margin-bottom:100px;
}
.container.margin-bottom150 {
    margin-bottom:150px;
}