<html
        lang="ja"
        xmlns         = "http://www.w3.org/1999/xhtml"
        xmlns:th      = "http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>HOME</title>
</head>
<body>

<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/assets/css/tether.min.css" />
<link rel="stylesheet" href="../static/assets/css/iichi.co.css" />
<script src="../static/assets/js/jquery-2.2.0.min.js"></script>
<script src="../static/assets/js/tether.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>

<nav class="navbar navbar-static-top navbar-dark" style="background-color:red">
    <div class="container">
        ヘッダーエリア
    </div>
</nav>

<div class="content" layout:fragment="layout-content">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">iichi.co</h1>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Boards</h2>
                <p>掲示板みたいなもの。</p>
                <p><a class="btn btn-primary btn-lg" href="/boards" role="button">Boards &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>IMP</h2>
                <p>画像でショッピング。</p>
                <p><a class="btn btn-primary btn-lg" href="/imp" role="button">IMP &raquo;</a></p>
            </div>
        </div>
    </div> <!-- /container -->
</div>

<nav class="navbar navbar-default navbar-bottom" style="background-color:red">
    <div class="container">
        フッターエリア
    </div>
</nav>

</body>
</html>


